@import "../autoload/fonts";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.content-register {
    @include flexbox(flex, column, center, center);
    width: 100%;
    height: 100%;
    padding: 2rem;
    border: 2px solid $primary-color;
    border-radius: 1.5rem;
    gap: 3rem;
}

.animated-text {
    display: inline-block;
}

.register {
    display: none;
    height: 100vh;
  }

 #inputState{
    width: 10.2rem;
} 


.section-register{
    @include flexbox(flex, row, space-around, center)
}
