/*Login - Buttons
====================================================*/
.input-with-icon {
    position: relative;
  }
  
  .input-with-icon input {
    height: 2.5rem;
    border-radius: 0.3rem;
  }
  
  #button-login,
  #button-register {
    height: 2.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 0.1rem solid #5c5c5c;
  }
  
  #button-login {
    background-color: $primary-color;
    color:$color-white ;
    transition: all 0.6s;

    &:hover {
      background-color: $color-transition;
      border-color: $color-black;
    }
  }
  
  #button-register {
    background-color: #ffffffab;
    width: 100%;
    color: $primary-color;
    border-color: $primary-color;
    transition: all 0.6s;
  
    &:hover {
      background-color: $color-transition;
      color: $color-white;
      border-color: $color-black;
    }
  }
  
  .input-field {
    padding-left: 40px;
    width: 100%;
    border: 0.1rem solid #cecdcd;
  }

  i.fas.fa-user.icon, i.fas.fa-lock.icon{
    color:#999999;
  }

  button.btn.btn-primary{
    width: 10rem;
  }


/*Register - Buttons
====================================================*/

.btn{
  background-color:  $primary-color;
  transition: all 0.6s;

  &:hover {
    background-color: $color-transition;
    border-color: $color-black;
  }

}
